<div class="row">

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/blackimage.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nature Album</h5>
      <p class="card-text">distinctio dolor, nobis delectus aspernatur quam debitis .</p>
      <a [routerLink]="['/albumpage']"class="btn btn-primary">View Album</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/blackimage.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">People Album</h5>
      <p class="card-text">Sint fugit hic quibusdam veniam voluptatum </p>
      <a [routerLink]="['/albumpage']" class="btn btn-primary">View Album</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/blackimage.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Musicians</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      <a [routerLink]="['/albumpage']" class="btn btn-primary">View Album</a>
    </div>
  </div>


</div>
